# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
ENV/
env.bak/
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
_virtualenvs/

# PyInstaller
*.manifest
*.spec

# Installer logs
.install_log.txt

# IDE / editor folders
.idea/
.vscode/

# Node modules (if any)
node_modules/