# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
build/
dist/
eggs/
.eggs/
lib64/
lib/python*/site-packages/

# Virtual environment
venv/
ENV/
.env

# Pytest cache
__pycache__/