# Funciones de Python
*.py[co]
*~\n
# Archivos generados por el IDE
.DS_Store

# Archivos creados en la construcción del proyecto
/backend/.venv/
/backend/instance/
/backend/__pycache__/
*.pyc
node_modules